body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1904px;
    height: 309px;
}

.logo {
    width: 1904px;
    height: 113px;
    margin-left: 40%;
}

.section2 {
    width: 1904px;
    height: 164px;
}

.box1 {
    width: 1709px;
    height: 80px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2px;
    background-color: #EEEEEE;
    text-align: center; /* Yazı ortalandı */
}

/* Search barın boyutu ayarlandı */
.search-bar-attribute {
    width: 240px; 
}

.box2 {
    width: 1709px;
    height: 78px;
    margin-left: 5%;
    margin-right: 5%;
}

.box3 {
    width: 630px;
    height: 78px;
    margin-right: 2px;
    float: left;
    text-align: center;
    background-color: #7EE5DA;
    font-size: 14px;
}

.box4 {
    width: 373px;
    height: 78px;
    margin-right: 2px;
    float: left;
    text-align: center;
    background-color: #70CCC2;
    font-size: 11px;
}

.box5 {
    width: 701px;
    height: 78px;
    float: left;
    text-align: center;
    background-color: #62B3AA;
    font-size: 10px;
    padding-top: 0;
}

.footer {
    width: 1904px;
    height: 16px;
    font-size: 11px;
    position: absolute;
    left: 878px;
}